@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
    font-family: "Instrument Sans";
    font-weight: 500;
}

svg.text-white {
    fill: white;
}

.bgNosotros {
    background-image: url("../img/web/banner-nosotros-m.png");
}

@media screen and (min-width: 768px) {
    .bgNosotros {
        background-image: url("../img/web/banner-nosotros.jpg");
    }
}
